<!-- Search widget-->
          <div class="card mb-4">
              <div class="card-header">Search</div>
              <div class="card-body">
                  <div class="input-group">
                      <input class="form-control" type="text" placeholder="Enter search term..." aria-label="Enter search term..." aria-describedby="button-search" />
                      <button class="btn btn-primary" id="button-search" type="button">Go!</button>
                  </div>
              </div>
          </div>
          <!-- Categories widget-->
          <div class="card mb-4">
              <div class="card-header">Categories</div>
              <div class="card-body">
                  <div class="row">
                      <div class="col-sm-6">
                          <ul class="list-unstyled mb-0">
                              <li><a href="#!">Web Design</a></li>
                              <li><a href="#!">HTML</a></li>
                              <li><a href="#!">Freebies</a></li>
                          </ul>
                      </div>
                      <div class="col-sm-6">
                          <ul class="list-unstyled mb-0">
                              <li><a href="#!">JavaScript</a></li>
                              <li><a href="#!">CSS</a></li>
                              <li><a href="#!">Tutorials</a></li>
                          </ul>
                      </div>
                  </div>
              </div>
          </div>
          <!-- Side widget-->
          <div class="card mb-4">
            <div class="card-header">My profile</div>
            <div class="row g-0">
              <div class="col-5 col-sm-4">
                <img src="/images/image_icon.jpg" class="img-fluid w-100" alt="card-horizontal-image">
              </div>
              <div class="col-7 col-sm-8">
                <div class="card-body">
                  <h5 class="card-title">Ogawa Shunya</h5>
                  <p class="card-text">Fintech系のWeb自社開発企業で働いています。Ruby on Railsを中心にフロントエンドもたまに触ります。</p>
                  <%= link_to 'https://twitter.com/ago_ago_5' do %>
                  <i class="fa fa-twitter fa-2x" aria-hidden="true"></i>
                  <% end %>
                  <%= link_to 'https://github.com/AGO523' do %>
                  <i class="fa fa-github fa-2x" aria-hidden="true"></i>
                  <% end %>
                </div>
              </div>
            </div>
          </div>
